*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .bartag{
 
  padding-top: 1%;
  padding-left: 2px;
  display: flex;
  background-color: #fff5;
  position: fixed;
  top: 0px;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  
 }
 .bartag img{
  border-radius: 100%;
 }
 .bartag ul{
   display: flex;
   justify-content:space-around;
 }
 .bartag ul li{
   margin: 10px;
 }
 .container{
   background-image: url(https://th.bing.com/th/id/OIP.phuA_XgMCmOEGf4aVw5tZAHaEJ?w=314&h=180&c=7&r=0&o=5&dpr=1.6&pid=1.7);
   background-size: cover;
   height: 100%;
   width: 100%;
   border-radius: 10px;

 }
 .bartag ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
}
.bartag ul li a{
   text-decoration: none;
   color:#070504;
   padding: 5px;
   font-size: 12px;
}
.bartag ul li a:hover{
   color: aliceblue;
   background-color: #353839;
   border-radius: 5px;

}
.logo{
  display: flex;
  padding-top: -2%;
}
.logo p{
  text-align: center;
  font-size: large;
  text-decoration: overline;
}
nav ul li.active a {
  color: aliceblue;
  background-color: #353839; 
  border-radius: 5px;
}
.header_button{
  padding-right: 20px;
}
.header_button button{
  background-color: rgb(26, 28, 30);
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  text-decoration: none;
  
}
#main{
  text-align: center;
  padding: 250px 100px;
  color:rgb(12, 54, 47);
  
}
#main h1{
    color: #000;
    font-size:40px;
}
.main2 button{
  padding: 10px;
  border-radius: 70px;
  border:none;
  background-color: white; 
  padding-left: 50px;
  padding-right: 50px;
  font-family: cursive;
}
.main2{

 margin-top: 17px;
}
#my-button{
  background-color:white;
  color: #353839;
}
.main3{
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;

}
.interior{
    padding-top:50px;
}
#standard{
  background-image: url(https://th.bing.com/th/id/OIP.HMMeFNDY6RcbfIItsYQN2gHaE8?w=259&h=180&c=7&r=0&o=5&dpr=1.6&pid=1.7);
  width: 30%;
  padding-top: 20%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease;
}
#standard button{
  background-color: #fff5;
  border:none;
  cursor:pointer;
  padding-left: 41.2%;
  padding-right: 41.2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
}
#premium{
  background-image: url(https://th.bing.com/th/id/OIP.AwTxno4ghtZN-401JT9vrQHaE8?w=228&h=180&c=7&r=0&o=5&dpr=1.6&pid=1.7);
  width: 30%;
  background-size: cover;
  padding-top: 20%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease;
}
#premium button{
  background-color: #fff5;
  border:none;
  cursor:pointer;
  padding-left: 41.8%;
  padding-right: 41.8%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
}
#luxury{
  background-image: url(https://th.bing.com/th/id/OIP.3SKKzPj42KoaSEKP5o7fZQHaFI?w=251&h=180&c=7&r=0&o=5&dpr=1.6&pid=1.7);
  width: 30%;
  padding-top: 20%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease;
}
#luxury button{
  background-color: #fff5;
  border:none;
  cursor:pointer;
  padding-left: 43.5%;
  padding-right: 43.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
}
.main3  :hover{
  transform: scale(1.1);
}
.carousel{
  padding-left: 1%;
}
.carousel ul{
  background-color: whitesmoke;
  padding: 3%;
  border-radius: 10px;
  font-size: larger;
  list-style-type: none;
  text-align: center;
  color: #353839;
  font-size: 14px;
}
.CONTECT{
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(252, 241, 227);
  color: #353839;
  border-radius: 10px;
}
.CONTECT button{
  width: 30px;
  height: 30px;
  margin-right: 5%;
  
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.CONTECT button img{
  border-radius: 100%;
}
footer{
  text-align: center;
  background-color: #fff5;
  padding-top: 5%;
  padding-bottom: 1%;
}
.contact-head{
  background-image: url(https://th.bing.com/th/id/OIP.KMBrPUXXuQo48j_9O5e_CAHaD5?w=325&h=180&c=7&r=0&o=5&dpr=1.6&pid=1.7);
  padding-top: 25%;
  padding-bottom: 15%;
  font-size: 18px;
  padding-left: 2%;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  color:rgb(1, 7, 12)
}
.contact-head h1{
  margin-right: 70%;
}
.content{
  display: grid;
  grid-template-columns: 50% 2fr;
  justify-content: space-around;
  padding-top: 3%;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 1%;
  padding-bottom: 1%;
}
.contect h1{
  text-align: center;
}
.content img{
  width: 10%;
  border-radius: 100%;
}
.background{
  
    width: 350px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: -1;
}

form{
  
    height: 520px;
    width: 400px;
    background-color: #080710;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    z-index: -1;
   
}
form *{
    font-family: 'Poppins',sans-serif;
    background-color: #080710;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    z-index: -1;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.btn{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  
}
.social div{
  background: red;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
  margin-bottom: 20px;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
.Signup{
  height: 700px;
  margin-top: 60px;
}